#myDraggableImageWrapper {
    width: 100px;
    height: 100px;
    background-color: #ffcc00;
    padding: 10px;
    cursor: move;
    position: fixed; /* Make sure it doesn't disrupt the page layout */
    top: 10px;
    left: 10px;
    z-index: 9999; /* Ensure it's above other elements */
    box-sizing: 'border-box';
}
#myDraggableImageWrapper img{
  z-index: 9998;
}

.sprite-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
  }
  
  .button {
    margin-top: 10px;
  }
  
  .blue-box {
    border: 1px solid blue;
    background-color: rgba(0, 0, 255, 0.2);
    padding: 10px;
    margin-top: 40px;
    width: 320px;
    position: relative;
    display: none;
  }
  
  .red-square {
    width: 30px;
    height: 30px;
    background-color: rgb(253, 152, 152);
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .output-area {
    border: 1px solid black;
    width: 300px;
    margin: 5px 0;
    padding: 5px;
    min-height: 50px;
    color: white;
  }
  
  .text-box {
    display: none;
    width: 300px;
    height: 30px;
    margin-top: 5px;
  }
  

/* #myDraggableImageWrapper img {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
